$ui-base-color:           #1c1c1c;
$ui-secondary-color:      #eee;
$ui-primary-color:        #ccc;
$ui-highlight-color:      #ddaa00;
$base-border-color:       pink;
$simple-background-color: #eee;
$primary-text-color:      #eee;
$error-value-color:       red;
$valid-value-color:       green;
$base-shadow-color:       grey;
$base-overlay-background: #000;

@import 'application';
